@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

body {
  font-family: "Poetsen One", sans-serif;
  padding: 20px;
}

.container {
  margin-top: 50px;
}

.card {
  padding: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-header {
  padding: 15px 0;
}

.btn {
  margin-top: 10px;
}

.nav-item:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.logo {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease;
}

.navbar {
  border-radius: 20px;
}

.nav-link {
  margin-right: 50px;
}

.logo-hovered {
  transform: scale(1.2);
}
